input[type="range"] {
    --GradientPoint: 0;
    --ThumbSize: 16px;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    background: transparent;
    position: relative;
    z-index: 1;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    cursor: pointer;
    background: linear-gradient(-90deg, var(--AccentGradientStart), var(--AccentGradientEnd));
    position: relative;
    z-index: 2;
}

input[type="range"]::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: linear-gradient(
        90deg,
        transparent 0%,
        transparent calc((var(--GradientPoint) * 100%) + (var(--ThumbSize) * (1 - var(--GradientPoint)))),
        gray calc((var(--GradientPoint) * 100%) + (var(--ThumbSize) * (1 - var(--GradientPoint)))),
        gray 100%
        );
    z-index: 3;
}


input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: var(--ThumbSize);
    width: var(--ThumbSize);
    background: white;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    position: relative;
    z-index: 4;
}

